h1, h2, h3 {
	
	text-align: center 
}





  
 






.container {
  
}





header {
    background-color:#e1bee7;
    width: 100%;
    text-align: center;
}

i {
	margin-left: -30px; 
cursor: pointer;

	
}