body, h1, p {
    margin: 0;
    padding: 0;
}

.image-container {
    position: absolute;
    max-width: 100%;
    background-image: url(Africa.jpg);
    border-radius: 10px;
	
}

/* .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
} */

.text-overlay
{
        color : white;
        font-weight: bold;
}