.bodyContacts{
    background-color: #f3e5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyCategory{
    background-color: #f3e5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    background-color: #e1bee7;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    margin-top: 10%;
    text-align: center;
    transition:.3s ease-in-out;
    
}

div:hover{
    transform: scaleX(1.05) scaleY(1.05) translate3d(0,0,20px);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  i {
    /* color: #9c27b0; */
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

header {
    background-color:#e1bee7;
    width: 102%;
    text-align: center;
}


.con1{
    font-weight: bold;
}

p,a {
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: whitesmoke;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}

.divHair {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: fit-content;
    float: left;
    border: 2px solid black; 
    padding: 10px;
    background-color: whitesmoke;
}

img{
    width: fit-content;
    height : 250px;
}



/* .divHair,body{
    float: left;
} */